<nav class="navbar navbar-dark sticky-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            Covid Management
        </a>

        <a class="btn btn-dark" href="/" role="button">Logout</a>
    </div>
</nav>
