<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>PAYMENT</title>
    {{> css}}
</head>

<body>
    <div class="app">
        {{> header}}

        <div class="container">
            {{{body}}}
        </div>

        {{> footer}}
    </div>
    {{> scripts}}
</body>

</html>